@import url("https://fonts.googleapis.com/css?family=Marcellus+SC");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700");

html {
  scroll-behavior: smooth;
}

/* html.dark {
  @apply bg-gray-800 text-gray-50;
} */

html,
body {
  /* height: 100%; */
  font-family: "Oswald", sans-serif;
}

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.99);
}

/* rainbow stuff */
.rainbow-text {
  background-image: linear-gradient(to right, rgb(20, 184, 166), rgb(34, 211, 238));
  background-clip: text;
  color: transparent;
  /* @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-cyan-400; */
}

.rainbow-bg {
  background-image: linear-gradient(to right, rgb(20, 184, 166), rgb(34, 211, 238));
  /* @apply bg-gradient-to-r from-primary to-cyan-400; */
}

/* Headings */
.title {
  font-size: 3rem/* 48px */;
  line-height: 1;
  /* @apply text-5xl; */
}

h1,
h2,
h3,
h4,
h5,
.heading-font {
  font-family: "Marcellus SC", Georgia, serif;
}
